NUXT_PUBLIC_APP_URL=http://localhost:3000
NUXT_PUBLIC_SUPABASE_URL=
NUXT_PUBLIC_SUPABASE_KEY=
NUXT_SUPABASE_SERVICE_KEY=
NUXT_ASAAS_API_KEY=
NUXT_ASAAS_API_URL=https://api-sandbox.asaas.com/v3
NUXT_ASAAS_WEBHOOK_TOKEN=
